
<div class="navbar-lewagon d-flex justify-content-between px-3 mb-3">
  <h1 class="header-text"><%= link_to "My Cocktail Party", cocktails_path %></h1>
  <h4 class="btn btn-dark mt-1"><%= link_to "Add a cocktail", new_cocktail_path %></h4>
</div>

<div class="main-container">
  <div class="row d-flex justify-content-around">
    <% @cocktails.each do |cocktail| %>
     <div class="col-3 m-3">
        <%= cl_image_tag(cocktail.photo.key,
      width: 400, height: 300, crop: :fill) %>
        <h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
    </div>
        <% end %>
  </div>
</div>

<%# @cocktails.each do |cocktail| %>
  <%#= link_to cocktail.name, cocktail_path(cocktail) %>
<%# end %>


