.col-lg-3 {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 16px;
  height: 250px;
  padding: 0px;
}

.col-lg-3 img {
  height: 80%;
  width: 100%;
  padding-top: 0px;
  margin-bottom: 10px;
  object-fit: cover;
}

.card-words {
  display: flex;
  justify-content: space-between;

  a {
    color: black;
  }
}

h5 a {
  font-family: 'Varela Round';
}

