.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 32px;
  height: 100px;
  overflow: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.header-text a {
  color: black;
  font-family: 'Varela Round';
  text-decoration: none;
}

.header-text a:hover {
  font-size: 25px;
  transition: 0.3s;
}

.button a {
  color: black;
  font-family: 'Varela Round';
  text-decoration: none;

  &:hover {
    font-size: 17px;
    transition: 0.3s;
  }
}
