.add-form {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 64px 64px;
  padding: 16px;
  border-radius: 16px;
  background-color: #f4dada;
  margin-top: 135px;
}
