h1 {
  font-family: 'Varela Round';
}

* {
  font-family: 'Varela Round';
}

table {
  border-collapse: collapse;
  width: 20%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  margin-left: 25px;
  margin-top: 150px;
  border-radius: 16px;
  background-color: white;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f4dada;}

td a {
  font-size: 12px;
  color: black;
}

th {
  font-size: 25px;
}

.back a {
  color: black;
  padding-left: 16px;
}

.add a {
  color: black;
  padding-left: 16px;
}

.ml-3 {
  margin-top: 110px;
}

.show-card {
  display: flex;
  justify-content: center;
}

.show-page-photo {
  margin-top: 150px;
}

.show-page-photo img {
  height: 400px;
  width: 100%;
  margin-bottom: 30px;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 16px;
}
