// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.large-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px;
}

.row {
  display: flex;
  justify-content: space-around;
}


// .large-container {
//   background-image: url("https://ak9.picdn.net/shutterstock/videos/14447869/thumb/1.jpg");
//   width: 100vw;
//   height: 100vh;
//   background-size: 100%;
//   background-repeat: no-repeat;
//   position: absolute;
// }
